[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=net.anenash.radiorecord
Exec=net.anenash.radiorecord
Name=Radio Record
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=Radio Record
Name[ru]=Радио Рекорд

[X-Sailjail]
ApplicationName=Radio_Record
OrganizationName=net.anenash.radio_record
Permissions=Internet;Audio

